{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<html>
<head>

</head>
<style media="screen">

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
</style>
<body>
    

<br><br>
<marquee scrolldelay="50">ITS FAKE PAYMENT PAGE. WE DONOT STORE YOUR DATA</marquee>
<marquee scrolldelay="50">ITS JUST FOR DEMO</marquee>
<br><br>
<div class="container" style="text-align:center; padding-left:300px;">
    <div class="row">
        <div class="col-xs-12 col-md-4" style="height:500px; width:600px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" />
                            Remember
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" method="post">
                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    EXPIRY DATE</label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="number" class="form-control" id="expityMonth" placeholder="MM" required />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="number" class="form-control" id="expityYear" placeholder="YY" required /></div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV CODE</label>
                                <input type="number" class="form-control" id="cvCode" placeholder="CV" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right">{{total}}</span> Final Payment</a>
                </li>
            </ul>
            <br/>
            <a href="/payment-success" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
        </div>
    </div>
</div>
<script>
    // Attach event listeners to validate input fields
    document.addEventListener("DOMContentLoaded", function() {
        const cardNumberInput = document.getElementById("cardNumber");
        const expityMonthInput = document.getElementById("expityMonth");
        const expityYearInput = document.getElementById("expityYear");
        const cvCodeInput = document.getElementById("cvCode");

        cardNumberInput.addEventListener("input", function() {
            this.value = this.value.replace(/\D/g, ''); // Allow only numbers
            if (this.value.length > 16) {
                this.value = this.value.slice(0, 16); // Limit to 16 digits
            }
        });

        expityMonthInput.addEventListener("input", function() {
            this.value = this.value.replace(/\D/g, ''); // Allow only numbers
            if (this.value.length > 2) {
                this.value = this.value.slice(0, 2); // Limit to 2 digits
            }
        });

        expityYearInput.addEventListener("input", function() {
            this.value = this.value.replace(/\D/g, ''); // Allow only numbers
            if (this.value.length > 2) {
                this.value = this.value.slice(0, 2); // Limit to 2 digits
            }
        });

        cvCodeInput.addEventListener("input", function() {
            this.value = this.value.replace(/\D/g, ''); // Allow only numbers
            if (this.value.length > 3) {
                this.value = this.value.slice(0, 3); // Limit to 3 digits
            }
        });
    });
</script>
</body>

</html>

{% endblock content %}
